@import "Main.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.content-header {
    font-family: "m6x11";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    
    text-align: center;

    color: rgb(24, 24, 24);
}

.content {
    font-family: 'Roboto', sans-serif;
    font-family: "m5x7";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    
    text-align: center;
    
    color: rgb(30, 30, 30);
}

.region {
    background-color: rgba(0, 0, 0, 0);

    border: 16px solid transparent;
    border-image: url(./img/region-border-x33.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.box-white {
    background-color: rgba(0, 0, 0, 0);

    border: 16px solid transparent;
    border-image: url(./img/border-round-g255-x33.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.box-red {
    background-color: rgba(0, 0, 0, 0);

    border: 16px solid transparent;
    border-image: url(./img/border-round-red-x33.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.box-yellow {
    background-color: rgba(0, 0, 0, 0);

    border: 16px solid transparent;
    border-image: url(./img/border-round-yellow-x33.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.box-blue {
    background-color: rgba(0, 0, 0, 0);

    border: 16px solid transparent;
    border-image: url(./img/border-round-blue-x33.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.main-text {
    font-family: "m6x11";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-align: center;

    color: rgb(45, 45, 45);
}

.sub-text {
    font-family: "m5x7";
    font-size: 24px;
    color: rgb(99, 99, 99);
}

.tooltip-text {
    font-family: "m6x11";
    font-size: 16px;
    color: rgb(75, 75, 75);
}

.icon {
    width: 13px;
    height: 13px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.box-tooltip {
    background-color: rgba(0, 0, 0, 0);

    border: 16px solid transparent;
    border-image: url(./img/tooltip-x32.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.tooltip {
    cursor: help;
    position: relative;
}
  
.tooltip .tooltip-content {
    visibility: hidden;
    width: 110px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(44, 44, 44);
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -135px;

    opacity: 0;

    transform: translate(-8px, -4px);
    -webkit-transform: translate(-8px, -4px);

    transition: 0.15s;
    -webkit-transition: 0.15s;
}

.tooltip:hover .tooltip-content {
    visibility: visible;
    opacity: 255;

    transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);

    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.debug-outline {
    outline: 1px;
}
