
:root {
    --content-leave-transition-duration: 300ms;
    --content-enter-transition-duration: 500ms;
    --content-enter-transition-starttime: 350ms;
}

@font-face {
    font-family: "m5x7";
    src: url("fonts/m5x7/m5x7.ttf"),
         url("fonts/m5x7/m5x7.woff"),
         url("fonts/m5x7/m5x7.woff2"),
         url("fonts/m5x7/m5x7.svg#filename");
}

@font-face {
    font-family: "m6x11";
    src: url("fonts/m6x11/m6x11.ttf"),
         url("fonts/m6x11/m6x11.woff"),
         url("fonts/m6x11/m6x11.woff2"),
         url("fonts/m6x11/m6x11.svg#filename");
}

.background {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}

.pixel-art {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
  
.header-text {
    font-family: "m6x11";
    font-size: 32px;
    font-weight: normal;
    font-style: normal;

    color: rgb(238, 238, 238);
}

.subheader-text {
    font-family: "m5x7";
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    
    color: rgb(204, 204, 204);
}

.menu {
    font-family: "m6x11";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    
    text-align: center;
    padding-bottom: 8px;
    color: white;
}

.menu:link {
    color: white;
}

.content {
    font-family: "m5x7";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;

    padding-left: 16px;
}

.border-block-grey-shad-x33 {
    border: 16px solid transparent;
    border-image: url(./img/border-block-grey-x33.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.border-round-grey-shad-x33 {
    border: 16px solid transparent;
    border-image: url(./img/border-round-grey-x33.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.active {
    background-color: white;
    color: black;
}
