
@font-face {
    font-family: "m5x7";
    src: url("fonts/m5x7/m5x7.ttf"),
         url("fonts/m5x7/m5x7.woff"),
         url("fonts/m5x7/m5x7.woff2"),
         url("fonts/m5x7/m5x7.svg#filename");
}

@font-face {
    font-family: "m6x11";
    src: url("fonts/m6x11/m6x11.ttf"),
         url("fonts/m6x11/m6x11.woff"),
         url("fonts/m6x11/m6x11.woff2"),
         url("fonts/m6x11/m6x11.svg#filename");
}

body {
    background-color: black;
    position: absolute;
    height: 99%;
    width: 99%;
}

a {
    text-decoration: none;
    color: rgb(124, 255, 179);
}

.logo {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
  
.header-text {
    font-family: "m6x11";
    font-size: 48px;
    font-weight: normal;
    font-style: normal;

    color: rgb(255, 255, 255);
}

.subheader-text {
    font-family: "m5x7";
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    
    color: rgb(199, 199, 199);
}

.about-text {
    font-family: 'm5x7';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    
    color: rgb(225, 225, 225);
}

.center-align {
    text-align: center;
}

.work-box {
    background-color: rgba(0, 0, 0, 0);

    border: 16px solid transparent;
    border-image: url(./img/border-round-g255-x33.png) 7.5 fill repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    
    transition: 0.3s;
    z-index: 0;
}

.work-box:hover {
    z-index: 1;
    -webkit-transition: all 300ms cubic-bezier(.17,.89,.53,1.46);
    transition:         all 300ms cubic-bezier(.17,.89,.53,1.46);
    transform: scale(1.05);
}

.work-img {
    border: 2px solid #000000;
    padding: 2px;
    border-radius: 5px;
}

.work-title {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    
    text-align: center;
    
    color: rgb(30, 30, 30);
}

.work-type {
    font-family: "m5x7";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    
    text-align: center;
    
    color: rgb(59, 59, 59);
}